{% extends '@admin/layout.twig' %}

{% block title 'My Posts' %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
    $(document).ready(function () {
        bsCustomFileInput.init()
    })
</script>
{% endblock javascripts %}

{% block content %}
    <h1>Edit the post: {{ item.name }}</h1>
    <form action="{{ path_for(routePrefix ~ '.edit', {id: item.id}) }}" method="post" class="mb-5" enctype="multipart/form-data">
                {% include viewPath ~ "/_form.twig" %}
        <button class="btn btn-primary" type="submit">Edit</button>
    </form>

{% endblock content %}