{% extends 'layout.twig' %}

{% block title 'My Posts' %}
    

{% block content %}
    <h1>Welcome to the Blog!</h1>
    
    <ul>
        
        {% for post in posts %}
                     
        <li><a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">{{ post.name }}</a></li>   
            
        {% else %}
            <p>No posts</p>
        {% endfor %}
</ul>
     </ul>
{% endblock content %}
    