{% extends "layout.twig" %}


{% block title 'My Super Site' %}


{% block content %}
    <h1>Index</h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, corrupti blanditiis, consequatur sunt tempora, dolorem dolorum laborum vitae et praesentium voluptates voluptate non eveniet? Reiciendis beatae voluptate deleniti maiores repudiandae.</p>
{% endblock content %}
    