
<div class="mb-3">
    <label for="name">Post title</label>
    <input type="text" class="form-control" name="name" id="name" value="{{ item.name }}">
</div>
<div class="mb-3">
    <label for="slug">Post slug</label>
    <input type="text" class="form-control" name="slug" id="slug" value="{{ item.slug }}">
</div>
<div class="mb-3">
    <label for="content">Content</label>
    <textarea class="form-control" name="content" id="content" rows="10">{{ item.content }}</textarea>
</div>