<li class="nav-item">
    <a class="nav-link {{ is_subpath('blog.admin.index') ? 'active' : '' }}" href="{{ path_for('blog.admin.index') }}">Posts</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_subpath('blog.admin.category.index') ?'active' : '' }}" href="{{ path_for('blog.admin.category.index') }}">Categories</a>
</li>